<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>QrcodeDecoder - Image</title>
  </head>
  <body>
    <script src="https://unpkg.com/qrcode-decoder@0.3.1/dist/index.min.js"></script>

    <img
      id="image"
      src="REPLACE_ME"
    />
    <script type="module">
      async function main() {
        try {
          var qr = new QrcodeDecoder();

          var img1 = document.querySelector("#image");
          const code = await qr.decodeFromImage(img1);
          console.log(code.data)
        } catch(e) {
          console.error("error")
        }
      }
      window.onload = () => {
        main();
      };
    </script>
  </body>
</html>
